<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise3PABDCRUD.Properties.Settings.Exercise3PABDCRUDConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=Exercise3PABDCRUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exercise3PABDCRUD.Properties.Settings.Exe3PABDCRUDConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=Exe3PABDCRUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exercise3PABDCRUD.Properties.Settings.Exe3PABDCRUDConnectionString1"
            connectionString="Data Source=MSI;Initial Catalog=Exe3PABDCRUD;Persist Security Info=True;User ID=sa;Password=erikaja12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>